{% extends 'todo/homepage.html' %}

{% block title %}
<h2 class="page-title">{{ group.name }}</h2>
{% endblock%}

{% block header %}
<h3 class="bit-title">Bits</h3>
<a class="task-create" href="{% url 'todo:task_create' group.id %}">New Bit</a>
{% endblock %}

{% block content %}
{% for task in task_list %}
	<div class="task-container">
		<div class='one'>
			<h2><a class="task-title {{ task.status }}" href="{% url 'todo:task_detail' task.id %}">{{ task.title }}</a></h2>
		</div>
		<div class="two">
			<form method="POST" action="{% url 'todo:task_tick' task.id %}">
				{% csrf_token %}
				<button>Mark</button>
			</form>
			<a href="{% url 'todo:task_update' task.id %}"><button>Edit</button></a>
			<form method="POST" action="{% url 'todo:task_delete' task.id %}">
				{% csrf_token %}
				<button>Delete</button>
			</form>
			
		</div>
	</div>
	<hr class="second">
{% endfor %}
{% endblock %}
