{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=p">
    <link rel="stylesheet" href="{% static '/todo/css/styles.css' %}" type="text/css">
    <title>BitBytes</title>
</head>
<body>
	<header>
	    <ul >
	        <li><a href="{% url 'accounts:profile_update' %}">user: {{ request.user }}</a></li>
	        <li><a href="{% url 'todo:homegroup_list' %}">Home</a></li>
	    </ul>
	    <h1>BitBytes</h1>
	    <ul>
	        <li><a href="{% url 'todo:group_create' %}">Create Byte</a></li>
	        <form method="POST" action="{% url 'accounts:logout' %}">
	        	{% csrf_token %}
	        	<li><input id="nav-log" type="submit" value="Logout"></li>
	        </form>
	        
	    </ul>
	</header>
	<div class="profile-pic">
	    <a href="{% url 'accounts:profile' %}">
	        <img src="{{ request.user.userprofile.profile_pic.url }}" alt="">
	    </a>
	</div>
    <main>
    	{% block title%}{% endblock %}
        {% block header %}{% endblock %}
        <hr class="first">
        {% block content %}{% endblock %}
    </main>
</body>
</html>