<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Homepage</title>
</head>
<body>
	{% if request.user.is_authenticated %}
		<h2><a href="{% url 'accounts:profile' %}">Profile</a></h2>
		<form method="POST" action="{% url 'accounts:logout' %}">
			{% csrf_token %}
			<button name='submit'>Logout</button>
		</form>
		<h2><a href="{% url 'todo:homegroup_list' %}">Todo</a></h2>
	{% else %}
		<a href="{% url 'accounts:login' %}">Login</a><br>
		<a href="{% url 'accounts:register' %}">Register</a>
	{% endif %}
</body>
</html>